.venv/
.env
.ibm_hackathon_agent/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/

app/logs/*.log
app/workspaces/*
app/screenshots/*
!app/workspaces/.gitkeep
!app/logs/.gitkeep
!app/screenshots/.gitkeep
